/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
.mapboxgl-map{
  display: flex;
  justify-content: center;
}
.mapboxgl-canvas-container{
  margin-top:50px;
  border-radius: 50% !important;
  height:80%;
  width:100%;
}

 canvas {
  width: 100% !important;
  height: 100% !important;
} 

.mapboxgl-marker img{
  width:2rem !important;
}