body {
  margin: 0;
  overflow-x: hidden;
}

.mapboxgl-map {
  display: flex;
  justify-content: center;
}
.mapboxgl-canvas-container {
  margin-top: 50px;
  height: 80%;
  width: 70%;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.mapboxgl-marker img {
  width: 2rem !important;
}
